@use '../abstracts' as a;
@use '../layout' as l;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include a.text-sm;

  @include a.at-media('sm') {
    @include a.text-lg;
  }
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;

  @include a.at-media('sm') {
    &.active {
      color: a.$green-500;
    }
  }
}

input {
  border: none;
  outline: none;
}

button.btn {
  @include l.flex($gap: 0.5rem);
  @include a.font('RobotoBold');

  cursor: pointer;
  border-radius: 0.3rem;
  color: a.$gray-600;
  border: 1px solid a.$gray-100;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: background 0.1s ease-in;
  background: a.$gray-100;

  &.btn--submit {
    background: a.$blue-100;
    border: 1px solid a.$blue-100;

    &:hover {
      background: a.$blue-200;
    }
  }
  &:hover {
    background: a.$gray-200;
  }
}
