@font-face {
  font-family: 'PlayfairRegular';
  src: url('@/assets/fonts/playfair/PlayfairRegular.ttf');
}

@font-face {
  font-family: 'PlayfairMedium';
  src: url('@/assets/fonts/playfair/PlayfairMedium.ttf');
}

@font-face {
  font-family: 'PlayfairSemibold';
  src: url('@/assets/fonts/playfair/PlayfairSemiBold.ttf');
}

@font-face {
  font-family: 'PlayfairBold';
  src: url('@/assets/fonts/playfair/PlayfairBold.ttf');
}

@font-face {
  font-family: 'PlayfairBlack';
  src: url('@/assets/fonts/playfair/PlayfairBlack.ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('@/assets/fonts/roboto/RobotoRegular.ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('@/assets/fonts/roboto/RobotoBold.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('@/assets/fonts/roboto/RobotoLight.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('@/assets/fonts/roboto/RobotoMedium.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('@/assets/fonts/roboto/RobotoThin.ttf');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('@/assets/fonts/lato/LatoRegular.ttf');
}

@font-face {
  font-family: 'LatoLight';
  src: url('@/assets/fonts/roboto/LatoLight.ttf');
}

@font-face {
  font-family: 'LatoBold';
  src: url('@/assets/fonts/lato/LatoBold.ttf');
}

@font-face {
  font-family: 'LatoThin';
  src: url('@/assets/fonts/lato/LatoThin.ttf');
}
